#companyLogo1 {
    width: 300px;
    height: auto;
}

#companyLogo2 {
    width: 300px;
    height: auto;
}

#companyLogo3 {
    width: 300px;
    height: auto;
}

#companyLogo4 {
    width: 300px;
    height: auto;
}

#companyLogo5 {
    width: 300px;
    height: auto;
}
